.login_heroe{
    background: linear-gradient( rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../Img/about.jpg');
    background-size: cover;
    
}
.dashboard_banner{
    /* border: 2px solid red; */
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0, 0.7) ),url('../Img/IMG_0431.jpg');
    background-size: cover;
    background-position: center;
    background-position-y: bottom;
}
a{
    text-decoration: none;
}